.env
**/.DS_Store
context/trello_cards.csv
context/resume.md
jobListings-Archived/*
!jobListings-Archived/.gitkeep
jobListings-Raw/*
!jobListings-Raw/.gitkeep
jobMatches-Can/*
!jobMatches-Can/.gitkeep
jobMatches-US/*
!jobMatches-US/.gitkeep
