.env
.venv/
.pytest_cache/
__pycache__/
*.py[cod]
.codex-log/
**/.DS_Store
context/resume.md
context/trello_cards.csv
jobListings-Archived/*
!jobListings-Archived/.gitkeep
jobListings-Raw/*
!jobListings-Raw/.gitkeep
jobMatches-Can/*
!jobMatches-Can/.gitkeep
jobMatches-US/*
!jobMatches-US/.gitkeep
